:root {
    --primary-color: #1B4965;
    --secondary-color: #ffffff;
    --accent-color: #2D6A4F;
    --highlight: #BC6C25;
    --light-bg: #F8FAFC;
    --border: #E5E7EB;

    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
}

 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

body{
    font-family: var(--body-font);
    background-color: var(--light-bg);
    min-height: 100vh;
 
}

header{

    display:grid;
    grid-column:1/3 ;
    grid-template-rows: 60px 60px;
    
}

header span{
   font-family: var(--heading-font);
    display: block;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}
nav{
    border: var(--border);
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: var(--primary-color);
}

nav a {
    text-decoration: none;
    color: var(--light-bg);
    font-size: 18px;
    font-weight: bold;

    padding: 15px 25px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #BC6C25;
    color: var(--light-bg);
    border-radius: 5px;
}

main{
  
    max-width: 1200px;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 30px;
    padding: 20px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    
}
main h1 {
    grid-column: 1 / 3;
    text-align: center;
}
.card{
    background-color: var(--light-bg);
    padding: 20px;
    font-size: 20px;
    border: 1px solid var(--primary-color);
}
.card h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px;
}
.card-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.about {
    padding: 20px;
}

.about img {
    float: right;
    width: 180px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.country {
    margin-top: 30px;
}

.country h3 {
    text-align: center;
    margin-bottom: 15px;
}

.country-info {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    align-items: start;
}

.country-info img {
    width: 150px;
}

.resources ul {
    margin-top:50px;
    padding-left: 25px;
}

.resources li {
    margin-bottom: 12px;
}

.resources a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: 0.3s;
}

.resources a:hover {
    color: var(--highlight);
    text-decoration: underline;
}


footer {
    padding-top:20px;
    padding-bottom:20px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}