@media screen and (min-width:500px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    main h1 {
        grid-column: 1 / 4;
        text-align: center;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    #menu {
        display: none;
    }

    .navigation {
         display: flex;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

}